# IDEs
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Models (Extremely large files)
models/
**/model_index.json
**/*.safetensors
**/*.bin
**/vae/
**/unet/
**/text_encoder/
**/safety_checker/
**/scheduler/
**/tokenizer/
**/feature_extractor/

# Data & Personal Logs
çıktılar/
feedback_logs/
ig_data/
pixabay_data/
örnekler/

# Image Files (except examples dir)
*.png
*.jpg
*.jpeg
*.webp

!examples/*.jpg
!examples/*.png
!examples/*.webp
!examples/*.jpeg

# Assets & Samples
!assets/*.png
!assets/*.jpg

# Project specific
ig_data/
pixabay_data/
feedback_logs/
çıktılar/
